<!-- breadcrumb -->
<ngx-spinner size="medium" color="#f07800" type="ball-spin"></ngx-spinner>

<div class="card" id="card-css">
  <div class="card-body">

    <div class="form-group row">
      <label class="col-md-2" id="mappingSize">Mapping</label>
      <div class="col-md-1" *ngIf="isLoading">
        <div class="spinner-border text-primary" role="status">
           <span class="sr-only">Loading...</span>
        </div>
     </div>
      <!-- Buttons shown on top beside Mapping Starts-->
      <div>

        <!-- Template for  Upload Source and Target File Starts -->
        <ng-template #uploadFile let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Upload</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <hr>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label class="col-sm-4  control-label col-form-label">Select Source file</label>
                <div class="col-sm-6">
                  <input id="cin" type="file" (change)="fileSourceChangeEvent($event)" placeholder="Upload Target file"
                    multiple />
                </div>
              </div>
              <!-- <div class="form-group row">
                                      <label class="col-sm-4  control-label col-form-label">Select Target file</label>
                                      <div class="col-sm-6">
                                        <input id="cin" type="file" (change)="fileTargetChangeEvent($event)"
                                          placeholder="Upload Target file" multiple />
                                      </div>
                                    </div> -->
              <button type="submit" id="buttonCSS" class="btn btn-lg btn-outline-warning"
                (click)="sourceNTargetModalButton();" class="btn btn-secondary"
                [disabled]="disabledMapping2Check" >
                Submit</button>
            </form>
          </div>
        </ng-template>
        <button class="btn btn-secondary m-10" id="captureButton" type="button" placement="bottom"
          ngbTooltip="Download Field Mapping" [disabled]="disabledMapping2CheckSubmit" (click)="capture()">Capture
          PDF</button>
          <button class="btn btn-secondary m-10" id="generateButton" type="button" placement="bottom" [disabled]="disabledMapping2CheckSubmit"
          ngbTooltip="Click to save mapping" (click)="saveDataOfMapping();">Save</button>

        <button class="btn btn-secondary m-10" [disabled]="disabledMapping2Check" id="generateButton" type="button"
          placement="bottom" ngbTooltip="Click to initiate multiple backend tasks within iXpress Platform"
          (click)="submitForMapping()">Submit</button>
        <!-- <button class="btn btn-secondary m-10" id="nextLinkButton" placement="bottom"
            ngbTooltip="Save the Data Present on Screen" type="button" (click)="SubmitForMapping()">Save</button> -->
      </div>
      <!-- Buttons shown on top beside mapping Ends url -->
      <div class="col-md-4 myResp" >
        <label class="input-group " for="vanNumber">Please enter a valid VAN Number for testing</label>
        <div class="input-group">
        <span style="color:red">*</span>
        <input type="text" class="myresp" size="30" [(ngModel)]="vanNumber" id="vanNumber" maxlength="20" (keyup)="checkVan()" />
      </div>
        <div>

        <p class="error" *ngIf="ansName == false "
        >
        <span class="glyphicon glyphicon-alert">Invalid VAN number</span>
        </p>
        </div>
        </div>
    </div>

    <div class="card">
      <div class="card-body">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Request</b></ng-template>
            <ng-template ngbTabContent>

              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="card">
                        <div class="card-body">
                          <!-- Template for Add Details Starts -->

                          <!-- Template for  Upload Source and Target File Ends -->
                          <!-- Table Starts -->
                          <div class="col-lg-12" id="tableDivCss">
                            <div class="card">
                              <div class="card-body" id="tableResponsive"
                                style="margin-left: -7% !important;margin-right:-7%;">
                                <div class="table-responsive">
                                  <table class="table">
                                      <thead class="bg-success text-white" id="theadCss">
                                          <tr>
                                            <th id="displayTableCss2" colspan="5"> {{organisation}} </th>
                                            <!-- <th colspan="15" id="borderlessCol1"> </th> -->
                                            <th id="displayTableCss3" colspan="5"> ICICI</th>
                                            <th id="displayTableCss4" colspan="9">Mapping Data</th>
                                          </tr>
                                          <tr>
    
                                            <th id="displayTableCss2" colspan="5"> Application Data </th>
    
                                            <th colspan="1" id="borderlessCol4"> </th>
                                            <th id="displayTableCss3" colspan="3"> Application Data </th>
                                            <th colspan="1" id="borderlessCol4"> </th>
                                            <th id="displayTableCss4" colspan="9"></th>
    
                                          </tr>
                                          <tr>
                                            <th id="displayTableCss1" rowspan="1">Field ID </th>
                                            <th id="displayTableCss1"></th>
                                            <th id="theadCss14" colspan="3">Field Name</th>
                                            <!-- <th id="theadCss15" colspan="1">Details</th> -->
                                            <th colspan="1" id="borderlessCol5"> </th>
                                            <!-- icici -->
                                            <th id="theadCss17" colspan="3">Field Name</th>
                                            <th id="theadCss20" colspan="1">Details</th>
    
                                            <th colspan="1" id="borderlessCol5"> </th>
                                            <th id="theadCss21" colspan="2">Field ID</th>
                                            <th id="theadCss22" colspan="2">ICICI <br> Field Name</th>
                                            <th id="theadCss23" colspan="2">Client <br> Tag Name</th>
                                            <th id="theadCss24" colspan="2">Data <br> Type Verified</th>
                                            <!-- <th id = "theadCss24" colspan = "3">Sample Value</th> -->
                                            <!-- <th id="theadCss16" colspan="2">Remarks</th> -->
                                            <th id="displayTableCss5" rowspan="1"> Actions</th>
    
                                          </tr>
                                        </thead>
    
                                    <tbody>
                                      <tr *ngFor="let data of requestData; let i=index;let a=index">
                                        <td id="id1">{{data.id}}</td>
                                        <td id="id1"></td>
                                        <td colspan="3" id="clientName1">{{data.sfieldName}}</td>
                                        <!-- <td colspan="1" id="descriptionName1">
                                          <i class="fas fa-info-circle"
                                            (click)="detailsClientRequest(a,data,detailsClientReq)">
                                          </i>
                                        </td> -->
                                        <td colspan="1" id="borderlessCol3"> </td>

                                        <td colspan="3" id="tfieldName1"><span *ngIf="data.urgencyName == 'Mandatory'"
                                            style="color:red">*</span>{{data.tfieldName}}</td>

                                        <td *ngIf="data.tdataType==null" colspan="1" id="descriptionName1">

                                          <label></label>
                                        </td>
                                        <td *ngIf="data.tdataType!=null" colspan="1" id="descriptionName2">

                                          <i class="fas fa-info-circle"
                                            (click)="descriptionRequest(a,data,informationRequest)" id="arrowCss">
                                          </i>

                                        </td>

                                        <td colspan="1" id="borderlessCol33"> </td>

                                        <td colspan="2" id="directRowNo1" style="width:100%;height:100%;"><textarea
                                            type="text" [readonly]="isReadOnly" [(ngModel)]="data.directRowNo"
                                            placeholder="Enter the Field ID"
                                            (change)="enterDirectRowNumberRequest(data,$event.target.value)"></textarea>
                                        </td>
                                        <td colspan="2" id="tfieldNameMapping1" style="width:100px;height:38px;">
                                          {{data.tfieldNameMapping}}</td>

                                        <td colspan="2" id="sourceFieldName1" style="width:100px;height:38px;">
                                          {{data.sourceFieldName}}</td>

                                        <td colspan="2" style="width:100px;height:38px;" id="datatypeVerified"
                                          *ngIf="(data.backgroundColor == 'false' && data.datatypeVerified!=null)"
                                          style="color: red"><b>
                                            {{data.datatypeVerified}}</b></td>

                                        <td colspan="2" style="width:100px;height:38px;" id="datatypeVerified"
                                          *ngIf="(data.backgroundColor == 'true'  && data.datatypeVerified!=null)">
                                          {{data.datatypeVerified}} </td>

                                        <td colspan="2" *ngIf="data.datatypeVerified==null" id="datatypeVerified"
                                          style="width:100px;height:38px;">{{data.datatypeVerified}}</td>
                                        <!-- <td colspan="3" id="directRowNo1" style="width:100%;height:100%;"><textarea
                                            type="text" value="{{data.expectedValue}}" placeholder="Enter sample value"
                                            (change)="enterExpectedValueRequest(data,$event.target.value)"></textarea>
                                        </td> -->

                                        <!-- <td *ngIf = "data.tfieldName == 'PaymentMode'"   colspan="3" >

                                          <div ngbDropdown class="d-inline-block"   >   
                                            <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Select sample value</button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                                              <button class="dropdown-item"  (click)="enterExpectedValueRequest(data,'NEFT / RTGS / IMPS / FT')" style = "background-color: #dee2e6;">NEFT / RTGS / IMPS / FT</button>
                                              <button class="dropdown-item" (click)="enterExpectedValueRequest(data,'N / R / I / FT')" style = "background-color: #dee2e6;" >N / R / I / FT</button>
                                              
                                            </div>
                                          </div>
                                        </td>
                                          <td *ngIf = "data.tfieldName != 'PaymentMode'" colspan="3" id="directRowNo1" style="width:100%;height:100%;"><textarea
                                            type="text" value="{{data.expectedValue}}" placeholder="Enter sample value"
                                            (change)="enterExpectedValueRequest(data,$event.target.value)"></textarea>
                                        </td> -->
                                        <!-- <td colspan="2" id="remarksRequest">
                                          <textarea type="text" value="{{data.remarksRequest}}"
                                            placeholder="Enter a remark"
                                            (change)="remarksRequest(data,$event.target.value)"></textarea>

                                        </td> -->

                                        <td id="deleteButton1">
                                          <i *ngIf="!isReadOnly" class="fas fa-trash-alt"
                                            (click)="deleteValueRequest(data)" id="iconCss">
                                          </i>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Table Ends -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Response</b></ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="card">
                        <div class="card-body">

                          <!-- Template for  Upload Source and Target File Ends -->
                          <!-- Table Starts -->
                          <div class="col-lg-12" id="tableDivCss">
                            <div class="card">
                              <div class="card-body" id="tableResponsive"
                                style="margin-left: -7% !important;margin-right:-7%;">
                                <div class="table-responsive">
                                  <table class="table">
                                      <thead class="bg-success text-white" id="theadCss">
                                          <tr>
                                            <th id="displayTableCss2" colspan="5"> {{organisation}} </th>
                                            <!-- <th colspan="15" id="borderlessCol1"> </th> -->
                                            <th id="displayTableCss3" colspan="5"> ICICI</th>
                                            <th id="displayTableCss4" colspan="9">Mapping Data</th>
                                          </tr>
                                          <tr>
    
                                            <th id="displayTableCss2" colspan="5"> Application Data </th>
    
                                            <th colspan="1" id="borderlessCol4"> </th>
                                            <th id="displayTableCss3" colspan="3"> Application Data </th>
                                            <th colspan="1" id="borderlessCol4"> </th>
                                            <th id="displayTableCss4" colspan="9"></th>
    
                                          </tr>
                                          <tr>
                                            <th id="displayTableCss1" rowspan="1">Field ID </th>
                                            <th id="displayTableCss1"></th>
                                            <th id="theadCss14" colspan="3">Field Name</th>
                                            <!-- <th id="theadCss15" colspan="1">Details</th> -->
                                            <th colspan="1" id="borderlessCol5"> </th>
                                            <!-- icici -->
                                            <th id="theadCss17" colspan="3">Field Name</th>
                                            <th id="theadCss20" colspan="1">Details</th>
    
                                            <th colspan="1" id="borderlessCol5"> </th>
                                            <th id="theadCss21" colspan="2">Field ID</th>
                                            <th id="theadCss22" colspan="2">ICICI <br> Field Name</th>
                                            <th id="theadCss23" colspan="2">Client <br> Tag Name</th>
                                            <th id="theadCss24" colspan="2">Data <br> Type Verified</th>
                                            <!-- <th id = "theadCss24" colspan = "3">Sample Value</th> -->
                                            <!-- <th id="theadCss16" colspan="2">Remarks</th> -->
                                            <th id="displayTableCss5" rowspan="1"> Actions</th>
    
                                          </tr>
                                        </thead>
    
                                    <tbody>
                                      <tr *ngFor="let data of responseData; let a=index">
                                        <td id="id2">{{data.id}}</td>
                                        <td id="id2"></td>
                                        <!-- client -->
                                        <!-- <td colspan="2">{{data.sourceName}}</td> -->
                                        <td colspan="3" id="sfieldName2">{{data.sfieldName}}</td>
                                        <!-- <td colspan="1" id="sdataType2">{{data.sdataType}}</td>
                                          <td colspan="1" id="sfieldSize2">{{data.sfieldSize}}</td> -->
                                        <!-- <td colspan="1" id="descriptionName1">
                                          <i class="fas fa-info-circle"
                                            (click)="detailsClientResponse(a,data,detailsClientResp)">
                                          </i>
                                        </td> -->

                                        <td colspan="1" id="borderlessCol6"> </td>
                                        <!-- icici -->
                                        <td colspan="3" id="tfieldName2">{{data.tfieldName}}</td>
                                        <!-- <td colspan="1" id="tdataType2">{{data.tdataType}}</td>
                                          <td colspan="2" id="urgencyName2"> {{data.urgencyName}}</td> -->
                                        <td *ngIf="data.tdataType==null" colspan="1" id="descriptionName3">

                                          <label></label>
                                        </td>
                                        <td *ngIf="data.tdataType!=null" colspan="1" id="descriptionName4">

                                          <i class="fas fa-info-circle"
                                            (click)="descriptionResponse(a,data,informationResponse)" id="arrowCss">
                                          </i>
                                        </td>
                                        <td colspan="1" id="borderlessCol33"> </td>
                                        <!-- <td colspan="2">{{data.targetNameResponse}}</td> {{data.directRowNo}}-->

                                        <td colspan="2" style="width:100%;height:100%;padding:0px"><textarea type="text"
                                            [(ngModel)]="data.directRowNo" [readonly]="isReadOnly"
                                            placeholder="Enter the Field ID" id="directRowNo2"
                                            (change)="enterDirectRowNumberResponse(data,$event.target.value)"></textarea>
                                        </td>
                                        <td colspan="2" style="width:100px;height:38px;" id="tfieldNameMapping2">
                                          {{data.tfieldNameMapping}}
                                        </td>
                                        <td colspan="2" style="width:100px;height:38px;" id="sourceFieldName2">
                                          {{data.sourceFieldName}}
                                        </td>

                                        <td colspan="2" style="width:100px;height:38px;" id="datatypeVerified3"
                                          *ngIf="(data.backgroundColor == 'false' && data.datatypeVerified!=null)"
                                          style="color: red"><b>
                                            {{data.datatypeVerified}}</b></td>

                                        <td colspan="2" style="width:100px;height:38px;" id="datatypeVerified4"
                                          *ngIf="(data.backgroundColor == 'true'  && data.datatypeVerified!=null)">
                                          {{data.datatypeVerified}} </td>

                                        <td colspan="2" *ngIf="data.datatypeVerified==null" id="datatypeVerified5"
                                          style="width:100px;height:38px;">{{data.datatypeVerified}}</td>

                                        <!-- <td colspan="3"  style="width:100%;height:100%;padding:0px"><textarea
                                            type="text" value="{{data.expectedValue}}" placeholder="Enter sample value"
                                            (change)="enterExpectedValueResponse(data,$event.target.value)"></textarea>
                                        </td> -->

                                        <!-- <td *ngIf = "data.tfieldName == 'PaymentMode'"   colspan="3" >

                                          <div ngbDropdown class="d-inline-block"   >   
                                            <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Select sample value</button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                                              <button class="dropdown-item"  (click)="enterExpectedValueResponse(data,'NEFT / RTGS / IMPS / FT')" style = "background-color: #dee2e6;">NEFT / RTGS / IMPS / FT</button>
                                              <button class="dropdown-item" (click)="enterExpectedValueResponse(data,'N / R / I / FT')" style = "background-color: #dee2e6;" >N / R / I / FT</button>
                                              
                                            </div>
                                          </div>
                                        </td>
                                          <td *ngIf = "data.tfieldName != 'PaymentMode'" colspan="3" id="directRowNo1" style="width:100%;height:100%;"><textarea
                                            type="text" value="{{data.expectedValue}}" placeholder="Enter sample value"
                                            (change)="enterExpectedValueResponse(data,$event.target.value)"></textarea>
                                        </td> -->

                                        <!-- <td colspan="3" id="remarksResponse">
                                          <textarea type="text" value="{{data.remarksResponse}}"
                                            placeholder="Enter a remark"
                                            (change)="remarksResponse(data,$event.target.value)"></textarea>

                                        </td> -->

                                        <td id="deleteIcon2">

                                          <!-- <i class=" fas fa-arrow-circle-left"
                                              (click)="addFieldValueResponse(a,data,resetModal2)" id="arrowCss">
                                            </i> -->
                                          <!-- <i class="fas fa-edit" (click)="editValueModalResponse(a,data,editModal2)"
                                          id="iconCss">
                                        </i>-->
                                          <i *ngIf="!isReadOnly" class="fas fa-trash-alt"
                                            (click)="deleteValueResponse1(data)" id="iconCss1">
                                          </i>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Table Ends -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>


    <br>
    <br>
    <br>

    <!-- Details Client Request Value -->



    <ng-template #detailsClientReq let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <table>
          <tbody>
            <tr>

              <td>
                <label>Data Type</label>
              </td>
              <td>
                <label>{{dataTypeClientRequest}}</label>

              </td>

            </tr>
          </tbody>
        </table>

        <!-- </div> -->
        <br>

      </div>

    </ng-template>


    <!--  Details Client Request ends-->




    <!-- Details ICICI Request Value -->



    <ng-template #informationRequest let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table>
          <tbody>
            <tr>
              <td>
                <label>Data Type : </label>
              </td>
              <td>
                <label>{{dataTypeICICIRequest}}</label>
              </td>
            </tr>
            <tr>
              <td>
                <label>Field size : </label>
              </td>
              <td>
                <label>{{fsizeICICIRequest}}</label>
              </td>
            </tr>
            <tr>
              <td>
                <label>Description :</label>
              </td>
              <td>
                <label>{{descriptionICICIRequest}}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-template>


    <!--  Details ICICI Request ends-->

    <!-- Details Client Response Value -->



    <ng-template #detailsClientReq let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tbody>
            <tr>
              <td>
                <label>Data Type</label>
              </td>
              <td>
                <label>{{dataTypeClientResponse}}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>




    <!-- Details Client Response Modal ends -->



    <!-- Details ICICI Response Value -->



    <ng-template #informationResponse let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tbody>
            <tr>
              <td>
                <label>Data Type : </label>
              </td>
              <td>
                <label>{{dataTypeICICIResponse}}</label>
              </td>
            </tr>
            <tr>
              <td>

                <label>Field size : </label>
              </td>
              <td>
                <label>{{fsizeICICIResponse}}</label>
              </td>
            </tr>
            <tr>
              <td>
                <label>Urgency :</label>
              </td>
              <td>
                <label>{{urgencyNameICICIResponse}}</label>
              </td>
            </tr>
            <tr>
              <td>
                <label>Description :</label>
              </td>
              <td>
                <label>{{descriptionICICIResponse}}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>

    <!-- Details ICICI Response Modal ends -->

    <!-- Details Client Response Value -->



    <ng-template #detailsClientResp let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tbody>
            <tr>
              <td>
                <label>Data Type</label>
              </td>
              <td>
                <label>{{dataTypeClientResponse}}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>




    <!-- Details Client Response Modal ends -->

    <!-- Details Client Url Value -->



    <ng-template #clientUrl let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-4">
            <label>Client Url</label>
          </div>
          <div class="col-lg-8">
            <input type="text" style="width: 250%" placeholder="enter a url" [(ngModel)]="url"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <br>

        <div><button class="btn btn-secondary" style="margin-left:400px" (click)="submitForMapping(url)">Submit</button>
        </div>

      </div>
    </ng-template>


    <!-- Details Client Url Modal ends -->
  </div>
</div>
<div class="alert myalert alert-success" id="a">
  <i class="fa fa-check-circle" style="margin-right: 15px;"></i>Response for ESQL Request:{{this.msgEsql}}
</div>
<div class="alert myalert alert-danger" id="b">
  <i class="fa fa-times-circle" style="margin-right: 15px;"></i>ERROR IN ESQL 1 GENERATION
</div>
<div class="alert myalert alert-success" id="c">
  <i class="fa fa-check-circle" style="margin-right: 15px;"></i>ESQL RESPONSE 2 :{{this.esqltoastr}}
</div>
<div class="alert myalert alert-danger" id="d">
  <i class="fa fa-times-circle" style="margin-right: 15px;"></i>ERROR IN ESQL 2 GENERATION
</div>
<div class="alert myalert alert-success" id="e">
  <i class="fa fa-check-circle" style="margin-right: 15px;"></i>Response for Yaml 1:{{this.yamlres}}
</div>
<div class="alert myalert alert-danger" id="f">
  <i class="fa fa-times-circle" style="margin-right: 15px;"></i>ERROR IN YAML 1 GENERATION
</div>
<div class="alert myalert alert-success" id="g">
  <i class="fa fa-check-circle" style="margin-right: 15px;"></i>YAML 2 RESPONSE:{{this.yamlres2}}
</div>
<div class="alert myalert alert-success" id="save">
  <i class="fa fa-check-circle" style="margin-right: 15px;"></i>Data Saved Successfully
</div>
<div class="alert myalert alert-danger" id="h">
  <i class="fa fa-times-circle" style="margin-right: 15px;"></i>ERROR IN YAML 1 GENERATION
</div>



<!-- <hr class="line" color="#f5821f;" />
<footer class="footer  text-right" id="footerCss">
  <p style="color: black">Â© 2018 ICICI. API Developer</p>
</footer> -->