.myalert{
  position: fixed;
    top: 70px; 
    left:75%;
    width: 50%;
    z-index: 9;
}
.myalert1{
  position: fixed;
    top: 70px; 
    left:70%;
    width: 60%;
    z-index: 9;
}
.headerButton:hover {
  color: #ffffff;
}
.dropdown-item:active{
  background-color:white !important;
}
.dropdown-toggle::after{
  display:none !important;
  }
.pointer{cursor:pointer}
.data{
  width: 60%;
  position: fixed;
  left: 22%;
}
.middleLogo{
  height:40%;
  width:39%;
}
.pageLogo{
  height:40px;width:150px;
}
.error{
  color: rgb(223, 55, 55);; font-size:15px;
}
#buttonCss{
  background:#f07800 !important;border:none;
}
#dataCenter{
  background:#f07800 no-repeat center center;
}
/* ab-validation */
.main{
  /* border: 1px solid black; */
  height: 550px;
  margin-top: 30px;
  /* width: 900px !important; */
}

.links{
  display: flex;
  list-style: none;
  margin-top: 15px;
  /* margin-right: -10px !important; */
  /* border: 2px solid black; */
  margin-left: 700px;

}
.link{
  text-decoration: none;
  font-size: 17px;
  /* padding-left: 100px; */
  color: white;
  
  
}
.link:hover{
color: white;
}
#logo1:hover{
  cursor: pointer;
}

.logout_li{
  padding-left: 60px;
}
#buttonCss{
  background:#053c6d !important;border:none;
}

.passchangeform{
  width: 600px !important;
}

/* Responsive */
@media (min-width: 320px) and (max-width: 480px) {

}
@media (min-width: 481px) and (max-width: 767px) {
  
    .data{
        /* position: fixed; */
        left: 13% !important;
      }
    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .data{
        /* position: fixed; */
        left: 17% !important;
      }
    
  }
