<header
  class="topbar"
  [attr.data-navbarbg]="options.navbarbg"
  style=" background: #ffffff;height:60px;position: fixed;width:100%;"
>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white navbar-custom border-bottom"
    style="background: #f5821f !important;height:60px;"
  >
    <!-- <a style="background: white !important;"> -->
      <img
      id="logo1"
      alt="img"
      src="assets/images/ICICI Bank Logo Orange Bg.png"
      style="width: 173px;
         height: 50px;"
      class="img-fluid"
      (click)="jump()"
      />
    <!-- </a> -->

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      style="justify-content: right;"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse pl-20 "
      [ngClass]="{ show: navbarOpen }"
      style="padding-left: 50%;"
    >
    <div>
      <br/>
      <!-- <div (click)="logout()">Logout</div> -->
    <div style="color:white">Welcome {{firstName}}</div>
     <div *ngIf="lastLoggedIn != undefined " style="color:white">You last logged in on {{lastLoggedIn | date}} &nbsp; {{lastLoggedIn | date: "HH:mm:ss"}}</div>&nbsp;
    </div>
    <div>
      <ul class="navbar-nav float-right">
        <li class="nav-item dropdown show " ngbDropdown placement="bottom-right">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
                aria-haspopup="true" aria-expanded="false">
                <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31">
            </a>
            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY" ngbDropdownMenu>
                <!-- <span class="with-arrow triangle">
                    <span class="triangle" style="background: #f07800;"></span>
                </span> -->
                 <span class="with-arrow  ">
                    <span class="bg -primary " ></span>
                </span>
                <!-- <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
                    <div class="">
                        <img src="assets/images/users/1.jpg" alt="user" class="img-circle" width="60" >
                    </div>
                      width: 190px;  text-overflow: ellipsis; 
                    <div >
                        <h4 style="
                        white-space: nowrap; 
                        overflow: hidden;
                      ">{{firstName}} {{lastName}}</h4>
                      
                    </div>
                </div> -->
                <!-- <div class="dropdown-divider"></div> -->
                <a class="dropdown-item pointer" (click)="logout();">
                    <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
              
                
            </div>
        </li>
    
    </ul>
    </div>
      <!-- <div>You last logged in on {{lastLoggedIn | date}} &nbsp; {{lastLoggedIn | date: "HH:mm:ss"}}</div>&nbsp; -->
    
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="['/change-password/changePassword']"
            ><span
              class="m-10 p-r-20"
              style="font-size: 16px;font-family: Arial,Helvetica,sans-serif;color:white !important;"
              >Change Password</span
            ></a
          >
        </li>
        <li>
          <a [routerLink]="['']"
            ><span
              class="m-10 p-r-20"
              style="font-size: 16px;font-family: Arial,Helvetica,sans-serif;color:white !important;"
              >Logout</span
            ></a
          >
        </li>
      </ul> -->
    </div>
  </nav>
</header>
<div class="auth-wrapper d-flex no-block  " >
  <div class="col-8 main" style="margin-top: 90px;">
  <div class="auth-box on-sidebar displaySide passchangeform ">
    <div id="loginform" [ngClass]="{ 'd-none': recoverform }">
      <div class="logo">
        <h5 class="font-medium m-b-20 passhead" style="font-size: 25px;font-family: Arial, Helvetica, sans-serif; color: #053c6d; ">Change Password</h5>
      </div>
      <hr class="col-6" color="#f5821f" />
      <br />
      <!-- Form 1 starts-->
      <div class="row">
        <div class="col-12">
          <form class="form-horizontal m-t-20" id="changePassForm" [formGroup]="addChangeData"
          >
          <!-- Old Password -->
          <div class="input-group mb-3">
              
               <input type="password" class="form-control form-control" id="oldPass"
                  placeholder=" Old Password" [formControl]="addChangeData.controls['oldPassword']"
                  formControlName="oldPassword" aria-label="Password" aria-describedby="basic-addon1" #oldpass (keyup)="passCheck4(oldpass.value)">
          </div>
          <div>
              <p class="error"
                  *ngIf="addChangeData.get('oldPassword').hasError('required') && addChangeData.get('oldPassword').touched">
                  <span class="glyphicon glyphicon-alert"></span>Password is required</p>
          </div>
          <!-- Old Password -->
          <!-- New Password -->
          <div class="input-group mb-3">
          
              <input type="password" class="form-control form-control" id="newPass"
                  placeholder=" New Password" [formControl]="addChangeData.controls['newPassword']"
                  formControlName="newPassword" aria-label="Password" aria-describedby="basic-addon1" #newpass (keyup)="passCheck1(newpass.value)">
          </div>
          <div>
            <p class="error"
                *ngIf="addChangeData.get('newPassword').hasError('required') && addChangeData.get('newPassword').touched">
                <span class="glyphicon glyphicon-alert"></span>Password is required</p>
        </div>
        <div>
      
      <p class="error" *ngIf="this.pass == true">
              <span class="glyphicon glyphicon-alert"></span></p>
      </div>
          <!-- New Password -->
           <!-- Confirm Password -->
           <div class="input-group mb-3">
            <input type="password" class="form-control form-control" id="confirmPass"
                placeholder=" Confirm Password" [formControl]="addChangeData.controls['confirmPassword']"
                formControlName="confirmPassword" aria-label=" ConfirmPassword"
                aria-describedby="basic-addon1" #conpass (keyup)="passCheck2(conpass.value)">
        </div>
        <div>
          <p class="error" *ngIf="
          addChangeData
                .get('newPassword')
                .hasError('pattern')&& addChangeData.get('newPassword').touched
            ">
            <span class="glyphicon glyphicon-alert"></span>Password should contain at least one number and both lower and uppercase letters and special character and minimum 8 characters
          </p>
        </div>
        <div>
          <p class="error" *ngIf="this.pass == true">
              <span class="glyphicon glyphicon-alert"></span>Password do not match</p>
      </div>
        <!-- Confirm Password -->
        
          <!-- button  -->
          <div class="form-group text-center">
            <div class="col-xs-12 p-b-20">
              <button class="btn btn-block btn-lg headerButton" id="buttonCss" style="background: #053c6d;font-size: 16px;font-family: Arial, Helvetica, sans-serif;color: white;" [disabled]="!addChangeData.valid" (click)="passCheck3()">Change</button>
          </div>
          </div>
          <div class="form-group text-center">
            <div class="col-xs-12 p-b-20">
              <button class="btn btn-block btn-lg headerButton" id="buttonCss" style="background: #053c6d;font-size: 16px;font-family: Arial, Helvetica, sans-serif;color: white;" (click)="backButton();">Cancel</button>
          </div>
          </div>
         
      </form>
        </div>
      </div>
      <hr class="col-6" style="float:center;" color="#f5821f;" />
      <!-- Form1 ends -->
    </div>

  </div>
</div>
</div>
<div class="alert myalert1 alert-danger" id="a" >
  <i class="fa fa-times-circle" style="margin-right: 15px;"></i>New password should not be same as old password.
  </div>
  <div class="alert myalert alert-danger" id="b">
    <i class="fa fa-times-circle" style="margin-right: 15px;"></i>oldPassword is incorrect.
  </div>
  <div class="alert myalert alert-danger" id="c" >
    <i class="fa fa-times-circle" style="margin-right: 15px;"></i>You have used old password.
  </div>
  <div class="alert myalert alert-success" id="d" >
    <i class="fa fa-check-circle" style="margin-right: 15px;"></i>
    Password changed sucessfully</div>
    <div class="alert myalert alert-info" id="e" >
      <i class="fa fa-info-circle" style="margin-right: 15px;"></i>Please Enter All the Fields
      </div>