:host ::ng-deep .custom-pills .nav-pills{
  position: fixed;
  z-index: 9;
  background-color: #fff;
  margin-left: -1%;
  /* margin-top: 1%; */
  padding-top: 2%;
  margin-top: -1%;
  width: 100%;
  }
  /* .zindex{
    height: 30px;
    background-color: #fff;
  position: fixed;
  z-index: 9;
  } */
  .checkmark {
    background-color: #2196F3;
  }
  .db-lighterblue {
    color: #9eb8cf;
  }
  
  .no-underline{
    text-decoration: none;
  }
  .border-h-dark {
    border-bottom: 1px solid #1a3248;
    margin-bottom: -2px;
    width: 100%;
  }
  
  .subscribeButton{
    background: #051b2d;
    color: #fff;
    padding:9px;
    width:85px;
    height:44px!important;
    text-align: center;
  }
  .db-white{
    color: #fff;
    font-size:x-large;
  }
  .emailInput{
    background-color: #273843!important;
    height:50px!important;
    border-color: #273843;
  }

  .module-border-wrap {
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(0deg,#2aa2da,#52ffff);
    padding: 3px;
  }
  .textLabelColor{
    color:#8c8b8b
    }
  .uploadButton{
    height:50px;
  }
  .input{
    background-color: #f3f5f5!important;
    height:50px!important;
  }
.custom-pills .nav-pills .nav-link.active {
  border-bottom: 2px solid  #39c3e7 !important;
  color: #39c3e7 !important;
}
.ngx-pagination .current{
  background: #c01012 !important;
}
.dropdown-item:active{
  background-color:white !important;
}
.dropdown-toggle::after{
  display:none !important;
  }
.circle {
  border-radius: 50%/50%; 
  width: 50px;
  height: 50px;
  background-color: #C01012;
  color: white;
}
.box:hover {
  box-shadow: 0 0 10px rgb(80, 80, 80);
}
.circle {
  display: block;
  height: 23px;
  width: 23px;
  line-height: 23px;
  
  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */
  
  background-color: #39c3e7;
  color: white;
  text-align: center;
  }
  

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }


  .navbar-nav>li>a{
    color: #000000;
  }
  .navbar-nav>li>a:hover{
     color: #8c8b8b;
   }

   .timeline-left > .timeline-item > .timeline-badge {
       background-color: #ffffff;
       border: 5px solid #8c8b8b;
   }
  .dotGreen {
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
.nav-tabs .nav-link.active {
    border: 6px solid #9f8148 !important;
  }


  .headerButton {
    background-color: #F5821F;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  .headerButton:hover {
    color: #ffffff;
   
  }

  .title {
  padding: 10px 0px 0px 15px;
    color: #f5821f;
}

.pageButtons {
  background-color: #F5821F;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif !important;
  /* font-size: 13px !important; */
}
.pageButtons:hover {
  color: #ffffff;
 
}


.footerText {
  color: #000000 !important;
}

.footerText:hover {
color: #8c8b8b !important;
}


:host ::ng-deep .nav-pills .nav-link.active {
  color: #39c3e7 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 16px !important;
  border-bottom: 2px solid #39c3e7 !important;
}
:host ::ng-deep .nav-pills .nav-link {
 
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 16px !important;

}
.pointer {cursor: pointer;}