
 .data{
    width: 60%;
    position: fixed;
    left: 22%;
  }
  .middleLogo{
    height:40%;
    width:39%;
  }
  .pageLogo{
    height:40px;width:150px;
  }
  .error{
    color: rgb(223, 55, 55);; font-size:15px;
  }
  #buttonCss{
    background:#053c6d !important;border:none;
    color:white
  }
  #dataCenter{
    background:#f07800 no-repeat center center;
  }
  
/* Responsive */
  @media (min-width: 320px) and (max-width: 480px) {

  }
  @media (min-width: 481px) and (max-width: 767px) {
    
      .data{
          /* position: fixed; */
          left: 13% !important;
        }
      
    }
  
    @media (min-width: 768px) and (max-width: 1024px) {
      .data{
          /* position: fixed; */
          left: 17% !important;
        }
      
    }

    .carousel-indicators li {
      background-color: #f5821f;
      height: 5px;
    }
    .carousel-indicators .active {
      background-color: #f5821f;
      height: 5px;
    }
    .home-carousal .slick-slide {
      padding: 10px;
    }
    
    .slick-slider {
      width: 90%;
      margin: auto;
    }

    .prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  background: url("/assets/back-button.png") no-repeat scroll 0 0;
  left: -33px;
}

.next-slide {
  background: url("/assets/next-button.png") no-repeat scroll -24px 0px;
  right: -33px;
}

    