<header class="topbar" [attr.data-navbarbg]="options.navbarbg" style="background: #ffffff;height: 60px;position: fixed;width:100%;">


  <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-custom border-bottom"
    style="background: #f5821f !important; height: 60px">

    <!-- <a style="background: white !important;"> -->
    <img alt="img" src="assets/images/ICICIlogo.png" style="width: 173px;
      height: 39px;" class="img-fluid " />
    <!-- </a> -->
  </nav>
</header>
<div class="auth-wrapper d-flex no-block ">
  <div class="col-8" style="margin-top:60px;">
    <div class="home-carousal">
      <!-- <div id="demo" class="carousel slide" data-ride="carousel">

        <div class="container carousel-inner">

          <div class="carousel-item active">
            <img src="assets/images/eCollection.png" alt="" width="100%" style="height: 250px" />
          </div>
          <div class="carousel-item">
            <img src="assets/images/iSurePay.png" alt="" width="100%" style="height: 250px" />
          </div>
        </div>

      </div> -->
      <div id="demo" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li
            *ngFor="let slide of slides; let i = index"
            [ngClass]="{ active: i == 0 }"
            data-target="#demo"
            attr.data-slide-to="{{i}}"
          ></li>
        </ol>
        <div class="container carousel-inner">
          <div
            class="carousel-item"
            *ngFor="let slide of slides; let i = index"
            [ngClass]="{ active: i == 0 }"
            style="height:500px;"
          >
            <br />
            <br />
            <img
              src="{{ slide.img }}"
              [ngClass]="{ img1: i == 0 }"
              alt="Random first slide"
              width="100%"
            />
            <div>
              <br />
              <br />
              <strong style="font-size: 16px;color:#053c6d">
                {{ slide.description }}
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
  <!-- Carousel Code Starts -->
  <!-- <div class="row data">

        <div *ngIf="isMobileResolution == false">
            
            <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                <div class="aspect-ratio">
                <ng-template ngbSlide >
                    <img  src="assets/images/fd-invest-your-idle-fund-new-primer.jpg" id="img1" alt="Random first slide">
                </ng-template>
                <ng-template ngbSlide >
                    <img  
                    src="assets/images/rsz_webpnet-resizeimage.png " id="img2" alt="Random first slide">
                </ng-template>
            </div>
            </ngb-carousel>
        </div>
    </div> -->
  <!-- Carousel Code ends -->
  <div class="auth-box on-sidebar displaySide" style="margin-top:60px;">
    <div id="loginform" [ngClass]="{ 'd-none': recoverform }">
      <div class="logo">
        <h5 class="font-medium m-b-20" style="font-size: 25px;font-family: Arial, Helvetica, sans-serif; color: #053c6d">Reset Password</h5>
      </div>
      <hr class="col-6" color="#f5821f" />
      <br />
      <!-- Form 1 starts-->
      <div class="row">
        <div class="col-12">
          <form class="form-horizontal m-t-20" id="changePassForm" [formGroup]="addChangeData"
          (ngSubmit)="changeData(addChangeData.value)">
          <!-- New Password -->
          <div class="input-group mb-3">
          
              <input type="password" class="form-control form-control" id="newPass"
                  placeholder=" New Password" [formControl]="addChangeData.controls['newPassword']"
                  formControlName="newPassword" aria-label="Password" aria-describedby="basic-addon1">
          </div>
          <div>
              <p class="error"
                  *ngIf="addChangeData.get('newPassword').hasError('required') && addChangeData.get('newPassword').touched">
                  <span class="glyphicon glyphicon-alert"></span>Password is required</p>
          </div>
          <!-- New Password -->
           <!-- Confirm Password -->
           <div class="input-group mb-3">
            <input type="password" class="form-control form-control" id="confirmPass"
                placeholder=" Confirm Password" [formControl]="addChangeData .controls['confirmPassword']"
                formControlName="confirmPassword" aria-label=" ConfirmPassword"
                aria-describedby="basic-addon1">
        </div>
        <div>
            <p class="error" *ngIf="addChangeData.get('confirmPassword').hasError('passwordsNotMatching')">
                <span class="glyphicon glyphicon-alert"></span>Password do not match</p>
        </div>
        <!-- Confirm Password -->
        
          <!-- button  -->
          <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                  <button class="btn btn-block btn-lg" id="buttonCss">Change</button>
              </div>
          </div>
      </form>
        </div>
      </div>
      <hr class="col-6" style="float:center;" color="#f5821f;" />
      <!-- Form1 ends -->
    </div>

  </div>
</div>