.activeForBorder {
    font-weight: bolder !important;
    font-size: 200px !important; 
    span {
        font-weight: bolder !important;
        font-size: 200px !important; 
    }
    i {
        font-weight: bolder !important;
        font-size: 200px !important; 
    }
    
  }  

  .activeColor {
    font-weight: bolder !important;
    font-size: 200px !important;  
  }

  .activeIconColor{
    font-weight: bolder !important;
    font-size: 200px !important; 
  }

  .iconColor {
    font-weight: bolder !important;
    font-size: 200px !important; 
  }
