
::ng-deep .nav-pills .nav-link.active{
    color: #007bff !important;
    background-color: white !important;
    border-bottom: 2px solid #007bff !important;
    }
    ::ng-deep .nav-pills .nav-link{
    color: #d3d2d7 !important;
    }
    ::ng-deep .card-body{
    background-color: #e9e9eb;
    }

    .cancelButton{
        color: #4E9AF7;
         /* margin-bottom: 1%; */
    }
    .prevButton{
        color: #4E9AF7;
    }
    .nextButton{
        background-color: #4E9AF7; color: white;   
    }
   
    @media (min-width: 320px) and (max-width: 480px) {
        .nextButton{
            float: none;
        }
    }    

@media (min-width: 768px) and (max-width: 1024px) {
    .topDiv{
        /* margin-left: 20%; */
    }
    .nextButton{
        float: right;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .topDiv{
        margin-left: 0%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .topDiv{
        margin-left: 17%;
    }
    .prevButton{
        margin-left: 20%;
    }
    .nextButton{
        float: right;
    }
    
}
@media (min-width:1025px) and (max-width: 1919px){
    .topDiv{
        margin-left: 18%;
    }
    .prevButton{
        margin-left: 21%;
    }
    .nextButton{
        float: right;
    }
}
@media (min-width:1920px) and (max-width: 2561px){
    .topDiv{
        margin-left: 17%;
    }
}