<header
  class="topbar"
  [attr.data-navbarbg]="options.navbarbg"
  style="  background: #ffffff;height: 50px;position: fixed;width:100%;"
>

 <!--Navbar -->
<nav class="navbarColor mb-1 navbar navbar-expand-lg navbar-dark info-color border-bottom" style="height: 55px !important">
  <div>
    <div class="navbarBankName">Deutsche Bank</div>
    <div class="navbarAPIProgram">API Program</div>
  </div>
  
  <!-- <a class="navbar-brand">
    <img
      alt="img"
      src="assets/images/ICICI Bank Logo Orange Bg.png"
      style="width: 173px;
         height: 39px;"
      class="img-fluid"
    />
  </a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4" >
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item " style="background: #f5821f !important;">
        <a class="nav-link" [routerLink]="['']">
          <span
            
          style="font-size: 16px;font-family: Arial,Helvetica,sans-serif;color:white !important;"
          >Home</span>
        </a>
      </li> -->
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['']">
          <span class="navLinkColor" style="font-size: 16px;">Home</span>
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/authentication/login']">
        <span class="navLinkColor" style="font-size: 16px;">Login</span>
        </a>
      </li>
     
      <!-- <li class="nav-item">
        <a class="nav-link navbarColor" (click)="clickSubscription()">&nbsp;
          <i class="fa fa-puzzle-piece home-color"><i class="navLinkColor" style="font-family: Arial,Helvetica,sans-serif;">&nbsp;Subscribe Now !</i></i></a>
      </li> -->
    </ul>
  </div>
</nav>
<!--/.Navbar -->
</header>
<div class="auth-wrapper d-flex no-block ">
  <div class="col-md-12" style="margin-top:50px;">
      <img class="authenticationImage" src="/assets/images/developement_icon_1.svg">
    <br />
  </div>
  <!-- Carousel Code Starts -->
  <!-- <div class="row data">

        <div *ngIf="isMobileResolution == false">
            
            <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                <div class="aspect-ratio">
                <ng-template ngbSlide >
                    <img  src="assets/images/fd-invest-your-idle-fund-new-primer.jpg" id="img1" alt="Random first slide">
                </ng-template>
                <ng-template ngbSlide >
                    <img  
                    src="assets/images/rsz_webpnet-resizeimage.png " id="img2" alt="Random first slide">
                </ng-template>
            </div>
            </ngb-carousel>
        </div>
    </div> -->
  <!-- Carousel Code ends -->
  <div class="auth-box on-sidebar displaySide" style="margin-top:50px;height: 100%;">
    <div id="loginform" [ngClass]="{ 'd-none': recoverform }">
      <div class="logo">
        <!-- <span class="db"><img class="pageLogo" src="assets/images/icici_bank_logo_symbol.png"
                        alt="logo" /></span> -->
        <h5
          class="font-medium m-b-20"
          style="font-size: 25px;font-family: Arial, Helvetica, sans-serif; color: #053c6d"
        >
          Login
        </h5>
      </div>
      <hr class="col-6" color="#f5821f" />
      <br />
      <!-- Form 1 starts-->
      <div class="row">
        <div class="col-12">
          <form
            class="form-horizontal m-t-20"
            id="loginform"
            [formGroup]="addLoginData"
            (ngSubmit)="loginData(addLoginData.value)"
          >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control form-control"
                id="loginUsername"
                autocomplete="off"
                [formControl]="addLoginData.controls['username']"
                formControlName="username"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
            <div>
              <p
                class="error"
                *ngIf="
                  addLoginData.get('username').hasError('required') &&
                  addLoginData.get('username').touched
                "
              >
                <span class="glyphicon glyphicon-alert"></span>Username is
                required
              </p>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control form-control"
                id="loginPassword"
                autocomplete="off"
                placeholder="Password"
                [formControl]="addLoginData.controls['password']"
                formControlName="password"
                aria-label="Password"
                aria-describedby="basic-addon1"
              />
            </div>
            <div>
              <p
                class="error"
                *ngIf="
                  addLoginData.get('password').hasError('required') &&
                  addLoginData.get('password').touched
                "
              >
                <span class="glyphicon glyphicon-alert"></span>Password is
                required
              </p>
            </div>
            <div id="captcha" style="font-family: Georgia;font-size: 26px;font-weight: bold;font-style: italic;"></div> 
            <div class="mb-3">
              <div class="row">
                <div>
                  <!-- <input type="text" style="border: 0.5 px solid #cccccc;border-radius: 2%;outline: none;"> -->
                  <input type="text" formControlName="captchaField" [formControl]="addLoginData.controls['captchaField']" class="form-control" id="capField" #calValue (keyup)="capCheck(calValue.value)" style="margin-left: 10px;">
                </div>
               
                  
                 
                 <img src="assets/images/Refresh2.jpg" (click)=createCaptcha() class="img-fluid image caplogo" style="margin-left: 15px;margin-top: 0 px;height: 35px;">
                 </div>
              </div>
              <div>
                  <p
                    class="error"
                    *ngIf="
                          this.cap==true;
                     
                    "
                  >
                    <span class="glyphicon glyphicon-alert">Invalid Captcha</span>
                  </p>
                </div>
                <div>
                    <p
                      class="error"
                      *ngIf="
                            this.cap==false;
                       
                      "
                    >
                      <span class="glyphicon glyphicon-alert"></span>
                    </p>
                  </div>
                  <div>
                    <p
                      class="error"
                      *ngIf="
                        addLoginData.get('captchaField').hasError('required') &&
                        addLoginData.get('captchaField').touched
                      "
                    >
                      <span class="glyphicon glyphicon-alert"></span>Captcha is
                      required
                    </p>
                  </div>
        <select
              formControlName="selectRole"
              placeholder="Select Role"
               id="xyz"
              class="inputField form-control form-control-line browser-default custom-select"
            >
              <option disabled value="">Select Role</option>
              <!-- changes made by sanchita 18-December-2019 for the change of roles value starts -->
              <option *ngFor="let data of roles" value="{{ data.value }}"
                >{{ data.name }}
              </option>
            </select>

            <div class="form-group text-center">
              <div class=" col-xs-10 p-b-20">
                <button
                  class="btn loginButton m-t-20 w-100"
                  style="background:#053c6d;color:white;font-size: 16px;font-family: Arial, Helvetica, sans-serif;"
                  type="submit"
                >
                  Sign In
                </button>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12  ">
                <!-- <div class="col-md-5"> -->
                <!-- <div class="col-md-6"> -->
                <div class="custom-control custom-checkbox ">
                  <a
                    style="padding-left:100px;"
                    (click)="showRecoverForm()"
                    href="javascript:void(0)"
                    id="to-recover"
                    class="text-dark "
                    id="linkCss"
                    ><i class="fa fa-lock m-r-5"></i> Forgot Password?</a
                  >
                </div>
                <!-- </div> -->
                <!-- </div> -->
              </div>
            </div>
            <!-- <div class="form-group m-b-0 m-t-10">
                            <div class="col-sm-12 text-center">
                                Don't have an account? <a href="/authentication/signup" class="text-info m-l-5"
                                    id="linkCss"><b>Sign Up</b></a>
                            </div>
                        </div> -->
          </form>
        </div>
      </div>
      <hr class="col-6" color="#f5821f" />
      <!-- Form1 ends -->
    </div>
    <div id="recoverform" [ngClass]="{ 'd-block': recoverform }">
      <div class="logo">
        <h5 class="font-medium m-b-20">Recover Password</h5>
      </div>
      <br />
      <br />
      <br />
      <div class="row m-t-20">
        <form
          class="col-12"
          [formGroup]="resetLoginData"
          id="resetLogin"
          (ngSubmit)="loginResetData(resetLoginData.value)"
        >
          <div class="form-group row">
            <div class="col-12">
              <input
                class="form-control form-control-lg"
                id="resetUsername"
                autocomplete="off"
                type="text"
                required=""
                placeholder="Username"
                [formControl]="resetLoginData.controls['username']"
                formControlName="username"
              />
            </div>
          </div>
          <!-- <div class="form-group row">
            <div class="col-12">
              <input
                class="form-control form-control-lg"
                id="resetPassword"
                autocomplete="off"
                type="password"
                required=""
                placeholder="New Password"
                [formControl]="resetLoginData.controls['newPassword']"
                formControlName="newPassword"
              />
            </div>
          </div> -->
          <!-- <div class="form-group row">
            <div class="col-12">
              <input
                class="form-control form-control-lg"
                type="password"
                required=""
                placeholder="Confirm Password"
                [formControl]="resetLoginData.controls['confirmPassword']"
                formControlName="confirmPassword"
              />
            </div>
          </div>
          <div>
            <p
              class="error"
              *ngIf="
                resetLoginData
                  .get('confirmPassword')
                  .hasError('passwordsNotMatching')
              "
            >
              <span class="glyphicon glyphicon-alert"></span>Password do not
              match
            </p>
          </div> -->

          <div class="row m-t-20">
            <div class="col-12">
              <button
                class="btn loginButton m-t-20 w-100"
                style="background:#053c6d;color:white;font-size: 16px;font-family: Arial, Helvetica, sans-serif;"
                type="submit"
                name="action"
                [disabled]="!resetLoginData.valid"
              >
                Reset
              </button>
            </div>
          </div>
          <!-- <div class="row m-t-20">
            <div class="col-12">
              <button
                class="btn btn-block btn-lg btn-warning"
                type="button"
                name="action"
                (click)="backButton()"
                id="backButtonCss"
              >
                Back
              </button>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
<div class="alert myalert alert-info" id="a" >
  <i class="fa fa-info-circle" style="margin-right: 15px;"></i>Please Enter All the Fields
  </div>
  <div class="alert myalert2 alert-info" id="c">
    <i class="fa fa-thumbs-down" style="margin-right: 15px;"></i>This Subscription has been Rejected <br>by Checker
  </div>
  <div class="alert myalert3 alert-info" id="b" >
    <i class="fa fa-hourglass-half" style="margin-right: 15px;"></i>Waiting for Approval!
  </div>
  <div class="alert myalert4 alert-success" id="d" >
    <i class="fa fa-thumbs-up" style="margin-right: 15px;"></i>
    Logged In Successfully
  </div>
  <div class="alert myalert5 alert-danger" id="e" ><i class="fa fa-times-circle" style="margin-right: 15px;"></i>
    Username or password is incorrect
  </div>
  <div class="alert myalert6 alert-danger" id="f" ><i class="fa fa-times-circle" style="margin-right: 15px;"></i>
    Please Enter Username and Password
  </div>
  <div class="alert myalert7 alert-danger" id="g" ><i class="fa fa-times-circle" style="margin-right: 15px;"></i>
    Please Enter Password
  </div>
  <div class="alert myalert8 alert-danger" id="h" ><i class="fa fa-times-circle" style="margin-right: 15px;"></i>
    Please Enter Username
  </div>
  <div class="alert myalert9 alert-danger" id="i" ><i class="fa fa-info-circle" style="margin-right: 15px;"></i>
    Role is not present for the user!
  </div>
  <div class="alert myalert9 alert-danger" id="wrong" ><i class="fa fa-info-circle" style="margin-right: 15px;"></i>
  Username or Password is incorrect
  </div>
  <div class="alert myalert10 alert-info" id="j" ><i class="fa fa-envelope" style="margin-right: 15px;"></i>  Link has been sent to your Registered Email Id
  </div>