       <div class="card-body">
          <div class="col-md-2" *ngIf="showButton == false">
              <a
              
                
                ><button
                (click)="finalProcess()"
                  [disabled]="readyForProd"
                  class="btn "
                  style="color:#ffffff;background: #053c6d;font-size: 16px;font-family: Arial, Helvetica, sans-serif;"
                >
                <span>Ready For Production</span>
                </button>
              </a>
            </div>
            <div class="col-md-2" *ngIf="showButton == true">
              <a
                ><button
                (click)="finalProcess()"
                  disabled
                  class="btn "
                  style="color:#ffffff;background: #053c6d;font-size: 16px;font-family: Arial, Helvetica, sans-serif;"
                >
                <span>Ready For Production</span>
                </button>
              </a>
            </div>
                    <!-- <div class="col-md-4">
                      <button class="btn " [disabled]="showButton"
                        style="color:#ffffff;background: #053c6d;font-size: 16px;font-family: Arial, Helvetica, sans-serif;"
                        (click)="finalProcess()"
                      >
                        <span>Ready For Production</span>
                      </button>
                    </div> -->
                    <br />
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">No.</th>
                          <th scope="col">DevOps Operations</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of displayActivities; let i = index">
                          <th scope="row">{{ i + 1 }}</th>
                          <td>{{ data.activity }}</td>
                      
                          <td *ngIf="initiateUATFlag == false">NOT STARTED</td>
                          <td *ngIf="initiateUATFlag == true">IN PROCESS</td>
                     
                        </tr>
                      </tbody>
                    </table>
                    <br />
                  </div> 